.ui.secondary.pointing.menu a:first-child {
  margin-left: auto;
}

.ui.secondary.pointing.menu a:last-child {
  margin-right: auto;
}

.ui.search > .results.visible {
  position: relative;
  margin: 0 auto;
}


.navbar {

}
.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navlinks li{
  float: left;
}
.navlinks li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navlinks li a:hover:not(.active) {
  background-color: #111;
}
.navlinks .active {
  background-color: #158db8;
}
