.ui.secondary.pointing.menu a:first-child {
  margin-left: auto;
}

.ui.secondary.pointing.menu a:last-child {
  margin-right: auto;
}
/* Stock search */
.stock-chosen > .ui.search > .results.transition.visible{
  position: absolute;
  z-index: 2;
  margin-left: 35%;
}

.ui.search > .results.transition.visible {
  position: absolute;
  z-index: 2;
  margin-left: 42%;
}
.stock-chosen{
  margin-left: 50%;
}
/* End Stock search */

/*Navigation Bar  */
.navbar {
  margin-bottom: 15px;
  margin-top: 2%;
}

.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navlinks li{
  float: left;
  font-size: 18px;
}
.navlinks li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navlinks li a:hover:not(.active) {
  background-color: #111;
}
.navlinks .active {
  background-color: #158db8;
}
/* End Navigation Bar  */
/* StockChart */
.react-stockchart svg{
  margin-right: 10%;
  position: relative;
}
/* End StockChart */
/* Profile Tabs */
.profile-nav-bar{
  margin-top: 13px;
  padding-top: 5px;
}
.profile-nav-tabs{
  font-family: "Alike Angular";
	font-size:1.65em;
	font-weight:300;
  transition:.2s;
  margin-left: 20px;
}
.ui.five.cards>.card {
    width: calc(15% - 1.5em);
    margin-left: .75em;
    margin-right: .75em;
}
.ui.form .field>label {
  color:white;
}
/* End Profile Tabs */
/* Home Screen */
.home-grid img{
  width:100%;
}
.performance-tag{
  position: absolute;
  margin-left: 70%;
  margin-bottom: 11px;
  padding: 6px;
  bottom: 0;
  height: auto;
  font-size: 22px;
  color:white;
  border-style: solid;
  border-radius: 4px;
}
.sector-tag{
  padding: 6px;
  position: absolute;
  bottom: 0;
  margin-bottom: 44%;
  margin-left: 3%;
  color: white;
  font-weight: 900;
  font-size: 18px;
  background: black;
  border: black;
  border-radius: 4px;
}
.large-performance-tag{
  position: absolute;
  margin-left: 76%;
  margin-bottom: 11px;
  padding: 6px;
  bottom: 0;
  height: auto;
  font-size: 22px;
  color:white;
  border-style: solid;
  border-radius: 4px;
}
.large-sector-tag{
  padding: 6px;
  position: absolute;
  bottom: 0;
  margin-bottom: 35%;
  margin-left: 1%;
  color: white;
  font-weight: 900;
  font-size: 18px;
  background: black;
  border: black;
  border-radius: 4px;
}
#news-section .ui.image img{
  height:130px;
}
/* End Home Screen */
/* Gainer/Loser Tables */
.gainer-table{
  float:left;
  font-size: 20px;
  margin-right:5%;
}
.loser-table{
  float:right;
  margin-right: 5%;
  font-size: 20px;
}
/* End Gainer/Loser Tables */
