.ui.secondary.pointing.menu a:first-child {
  margin-left: auto;
}

.ui.secondary.pointing.menu a:last-child {
  margin-right: auto;
}

.stock-chosen > .ui.search > .results.transition.visible{
  position: absolute;
  z-index: 2;
  margin-left: 35%;
}

.ui.search > .results.transition.visible {
  position: absolute;
  z-index: 2;
  margin-left: 42%;
}

.navbar {
  margin-bottom: 15px;
  margin-top: 2%;
}

.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navlinks li{
  float: left;
  font-size: 18px;
}
.navlinks li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navlinks li a:hover:not(.active) {
  background-color: #111;
}
.navlinks .active {
  background-color: #158db8;
}
.react-stockchart svg{
  margin-right: 10%;
}
.profile-nav-bar{
  margin-top: 13px;
  padding-top: 5px;
}
.profile-nav-tabs{
  font-family: "Alike Angular";
	font-size:1.65em;
	font-weight:300;
  transition:.2s;
  margin-left: 20px;
}
.ui.five.cards>.card {
    width: calc(15% - 1.5em);
    margin-left: .75em;
    margin-right: .75em;
}
.react-stockchart svg{
  position: relative;
}
.ui.form .field>label {
  color:white;
}
.stock-chosen{
  margin-left: 50%;
}
